@charset "utf-8";
 /*==========================================================================
   Global Overrides
==========================================================================*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  /*border: 1px solid red;*/
}

/* ==========================================================================
   Global Styles
========================================================================== */

html {
  font-size: 0.9em; 
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 2em;
  color: #000000;
  margin: 0 auto;
  max-width: 1440px;
}

.g-container {
  padding: 0 13rem;
}

header {
  position: relative;
}

a {
  /* brand color */
  color: rgba(62, 187, 205, 1); 
  text-decoration: none;
  transition: all 300ms;
  cursor: pointer;
}

a.anchor-disabled {
  pointer-events: none;
  color: #E1E1E1;
}

a:hover {
  color: #3ED5D4;
}

a:active {
  color: #3FE9E8;
}

p a {
  color: #000;
  word-break: keep-all;
  background-color: rgba(254, 253, 56, 1);
  padding: 0.15em;
}

p a:hover {
  color: #000;
  background-color: rgba(250, 217, 45, 1);
  border-radius: 1em;
  transition: all 0.4s;
}

/*==========================================================================
   Text Styles
==========================================================================*/

header nav {
  font-weight: 800;
  font-size: 5.5em;
  letter-spacing: 1.25px;
  line-height: 1.2em;
}

h1, label {
  position: relative;
  font-size: 2.1em;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.4em;
  z-index: 2;
}

h1 {
  font-size: 3.1em;
}

h2 {
  font-size: 3em;
  line-height: 1.4em;
}

.signature {
  opacity: 0.3;
  font-weight: 300;
  font-size: 0.65em;
  line-height: 24px;
}

.break-line {
  display: inline-block;
  border-bottom: 1px solid black;
  width: 30px;
  height: 1px;
  margin-bottom: 3px;
}

#profession, .contact-span, .resume-span {
  color: rgba(62, 187, 205, 1);
  cursor: pointer;
}

.project-blurb a { 
  color: #fff;
  font-weight: 400;
  text-align: center;
}

a.see-more-cta {
  font-size: 2.1em;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.4em;
  width: 100%;
  color: #fff;
  text-align: center;
}

a.see-more-cta:hover {
  background-color: #3ED5D4;
  color: #fff;
}
/*individual project section*/
.scroll-down-cta {
  text-align: center;
  color: #fff;
}
.project-nav a {
  font-size: 1.5em;
  font-weight: 700;
}

.project-nav a:hover {
  color: rgba(33, 168, 165, 1);
}

.title-h1-container h1 {
  font-size: 3.5em;
}

.project-hero-section h2 {
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 0.02em;
  line-height: 40px;
}

.grid-projects h3 {
  font-size: 3em;
  line-height: 1.4em;
}

/*font style for anchor inside grid projects div*/
.grid-projects-parent a {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  font-weight: 700;
}
/*disable cursor:pointer only in Work screen*/
.work-screen .grid-projects-parent a {
  cursor: default;
}
/*about*/
section.about {
  position: relative;
}

.about h2 {
  font-size: 0;
}

ul#about-skills {
  /* Art Direction! {Prod: */
  font-weight: 800;
  font-size: 3em;
  /*color: rgba(62, 187, 205, 1);*/
  letter-spacing: 0.02em;
  line-height: 1.2em;
  /*default text color*/
  color: rgba(0, 0, 0, 0.7); 
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 20s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/*contact*/


input[type=text],
input[type=email],
textarea#message {
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5em;
}

::-webkit-input-placeholder {
  color: #C5C5C5;
}

:placeholder-shown {
  color: rgba(62, 187, 205, 1);
  font-size: 2em;
}

input[type=submit] {
  position: relative;
  font-size: 2.1em;
  font-weight: 700;
  letter-spacing: 0.05em;
  z-index: 2;
  cursor: pointer;
}

/*footer*/

footer ul {
  font-weight: 800;
  font-size: 5.5em;
  letter-spacing: 1.25px;
  line-height: 1.2em;
}

#footer-cta {
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 0.03em;
  line-height: 1.5em;
}

/*font awesome sizes*/
.social-links i.fa {
  font-size: 1em;
}

/*==========================================================================
   Main Navigation Styles
==========================================================================*/

/*z-index require position value*/
header nav {
  position: relative;
  width: 100%;
  z-index: 1;
}

header nav ul {
  display: none;
  background-color: #fff;
  width: 100%;
  padding: 20px 2.4em;
  margin: 0 auto;
  border-bottom: 1px solid #e7e7e7;
  list-style-type: none;
}

/* hamburger menu */
/* stores variables*/
:root {
  --bar-width: 100px;
  --bar-height: 16px;
  --bar-spacing: 32px;
}

/* set hamburger menu container*/
.hamburger-menu {
  position: absolute;
  top: 3.5em;
  right: 13em;
  /* the following expression doesn't work*/
  width: var(--bar-width);
  height: calc( var(--bar-height) + var(--bar-spacing)*2 );
  cursor: pointer;
  z-index: 3;
}

/* set dimension for each bar in hamburger menu*/
.bar,
.bar:after,
.bar:before {
  width: var(--bar-width);
  height: var(--bar-height);
}

/* bar positioning*/
.bar {
  position: relative;
  /* moving the bars down to fit inside the hamburger menu container*/
  transform: translateY(var(--bar-spacing)); 
  background-color: rgba(62, 187, 205, 1);
  transition: all 0ms 300ms;
}

.bar.animate {
  background-color: rgba(62, 187, 205, 0);
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: var(--bar-spacing);
  background-color: rgba(62, 187, 205, 1);
  transition: background-color 0.5s, bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: var(--bar-spacing);
  background-color: rgba(62, 187, 205, 1);
  transition: background-color 0.5s, top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
/*animation for bottom bar*/
.bar.animate:after {
  top: 0;
  background-color: rgba(62, 187, 205, 1);
  transform: rotate(45deg);
  transition: background-color 0.5s, top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
/*animation for top bar*/
.bar.animate:before {
  bottom: 0;
  background-color: rgba(62, 187, 205, 1);
  transform: rotate(-45deg);
  transition: background-color 0.5s, bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}


/*==========================================================================
   Hero Section
==========================================================================*/
#hero-section {
  position: relative;
  padding-top: 8em;
}

#hero-img-container {
  position: relative;
  margin-top: -2em;
  cursor: none;
  z-index: 1;
}

/*Wrapping hero floats*/
#hero-img-container::before, #hero-img-container::after {
  content: "";
  display: table;
}

#hero-img-container::after {
  clear: both;
}

#hero-img-container .hero-img {
  float: left;
  width: 33.3%;
}

/*2 columns for hero bio*/
#hero-bio {
  width: 100%;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

/*interactive section*/
.cursor {
  position: fixed;
  width: 8%;
  z-index: 1;
}

.heart {
  position: absolute;
  width: 8%;
}

#heart {
  display: none;
  animation: pulse 2s infinite;
}

#handCursor, #handCursorHold {
  position: fixed;
  display: none;
  z-index: 200;
}

/*candy basket*/
.candy {
  position: absolute;
  z-index: -1;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}

#wiggle-1 {
  top: -11%;
  left: 58.5%;
  width: 17%;
  animation: float 4s infinite ease-in-out;
}

#pill-1 {
  top: -11%;
  left: 8%;
  width: 13%;
  animation: float 3s infinite ease-in-out;
}

#donut-1 {
  top: 62%;
  left: -6%;
  width: 12%;
  animation: float 6s infinite ease-in-out;
}

#wiggle-2 {
  top: 79%;
  left: 29%;
  width: 17%;
  animation: float 4s infinite ease-in-out;
}

#pill-2 {
  top: 50%;
  right: 2%;
  width: 13%;
  animation: float 3s infinite ease-in-out;
}

#donut-2 {
  top: 88%;
  right: 14%;
  width: 12%;
  animation: float 6s infinite ease-in-out;
}

/*==========================================================================
   Section Navigation Styles
==========================================================================*/
.section-nav {
  position: fixed;
  display: none;
  top: 50%;
  transform: translate(0, -50%); 
  -webkit-transform: translate(0, -50%); 
  z-index: 3;
}

.section-nav li {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-bottom: 28px;
  background-color: rgba(255, 255, 255, 0.5);
}

.section-nav li:before, .section-nav li:after {
  content: "";
}

/*set up active dot styling*/
.section-nav li:before {
  position: absolute;
  top: -1px; 
  bottom: -1px; 
  left: -1px; 
  right: -1px;
  transform: scale(0);
  opacity: 0;
  border-radius: 50%;
  background-color: #fff;
  transition: all .3s;
}

.section-nav li:hover {
  cursor: pointer;
}

/*show opaque dot when active*/
.section-nav li.is-active:before {
  opacity: 1;
  transform: scale(1);
}

/*default tag style*/
.section-nav li a {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  transform: translate(10%, -50%);
  width: 150px;
  padding: 5px 10px; 
  opacity: 0;
  color: #111; background-color: #fff;
  transition: all .3s;
  border-radius: 25px;
  text-align: center;
}

/*triangle pointer*/
.section-nav li a:before {
  content: "";
  position: absolute;
  top: 50%; 
  right: 99%; 
  width: 0px; 
  height: 0px;
  border-width: 6px 10px 6px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;    
  transform: translateY(-50%);
}


/*==========================================================================
   Projects Section Styles
==========================================================================*/
#projects-container section {
  position: relative;
  height: 700px;
  height: 95vh;
  /*need to implement shorthand*/
  background-color: #aeaeae;
  background-attachment: fixed;
  background-position: right center;
  background-size: cover;
  /*transition smoothly on certain browsers*/
  transition: background-image 1s linear;
} 

.project-blurb {
  position: absolute;
  opacity: 0;
  z-index: 1;
  width: 400px;
  padding: 1.5em 3em;
  padding-bottom: 2.5em;
  right: 5%;
  bottom: -5%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 100px 0 rgba(0,0,0,0.22);
  transition: all 1000ms 300ms;
}

.project-blurb.is-active {
  opacity: 1;
  transform: translateY(-7em);
  transition: all 1000ms 300ms;
}

.project-blurb p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2.3em;
}

.project-blurb a {
  display: inline-block;
  background-color: rgba(62, 187, 205, 1);
  width: 100%;
  padding: 10px;
  border-radius: 2em;
  transition: all 0.5s;
}

.project-blurb a:hover {
  background-color: #3ED5D4;
}

/* make the background clickable */
.project-bg-link {
  height: 100%;
  /*the following is to make sure that the background is clickable whole width*/
  mzargin-left: -13em;
  margin-right: -13em; 
}



.project-1 {
  background-image: url("../images/project-1-splash.jpg");
}
.project-1-header {
  background-image: url("../images/project-1-splash.jpg");
}

.project-2 {
  background-image: url("../images/project-2-splash.jpg");
}
.project-2-header {
  background-image: url("../images/project-2-splash3.jpg");
}

.project-3 {
  background-image: url("../images/project-3-splash.jpg");
}
.project-3-header {
  background-image: url("../images/project-3-splash3.jpg");
}

.project-4 {
  background-image: url("../images/project-4-splash.jpg");
}
.project-4-header {
  background-image: url("../images/project4/fenty-splash.jpg");
}

.project-5 {
  background-image: url("../images/project-5-splash.jpg");
}
.project-5-header {
  background-image: url("../images/project5/project-splash.jpg");
}

.project-6 {
  background-image: url("../images/project-6-splash.jpg");
}

.project-7 {
  background-image: url("../images/project7/p7-green-mask.jpg");
}

.project-8 {
  background-image: url("../images/project8/p8-pot.jpg");
}

.work-1 {
  background-image: url("../images/work/w1.jpg");
}
.work-2 {
  background-image: url("../images/work/w2.jpg");
}
.work-3 {
  background-image: url("../images/work/w3.jpg");
}
.work-4 {
  background-image: url("../images/work/w4.jpg");
}
.work-5 {
  background-image: url("../images/work/w5.jpg");
}
.work-6 {
  background-image: url("../images/work/w6.jpg");
}
.work-7 {
  background-image: url("../images/work/w7.jpg");
}
.work-8 {
  background-image: url("../images/work/w8.jpg");
}
.work-9 {
  background-image: url("../images/work/w9.jpg");
}
.work-10 {
  background-image: url("../images/work/w10.jpg");
}
.work-11 {
  background-image: url("../images/work/w11.jpg");
}
.work-12 {
  background-image: url("../images/work/w12.jpg");
}
.work-13 {
  background-image: url("../images/work/w13.jpg");
}
.work-14 {
  background-image: url("../images/work/w14.jpg");
}
.work-15 {
  background-image: url("../images/work/w15.jpg");
}
.work-16 {
  background-image: url("../images/work/w16.jpg");
}
.work-17 {
  background-image: url("../images/work/w17.jpg");
}
.work-18 {
  background-image: url("../images/work/w18.jpg");
}
.work-19 {
  background-image: url("../images/work/w19.jpg");
}
.work-20 {
  background-image: url("../images/work/w20.jpg");
}
.work-21 {
  background-image: url("../images/work/w21.jpg");
}
.work-22 {
  background-image: url("../images/work/w22.jpg");
}
.work-23 {
  background-image: url("../images/work/w23.jpg");
}
.work-24 {
  background-image: url("../images/work/w24.jpg");
}
.work-25 {
  background-image: url("../images/work/w25.jpg");
}
.work-26 {
  background-image: url("../images/work/w26.jpg");
}
.work-27 {
  background-image: url("../images/work/w27.jpg");
}
.work-28 {
  background-image: url("../images/work/w28.jpg");
}
.work-29 {
  background-image: url("../images/work/w29.jpg");
}
.work-30 {
  background-image: url("../images/work/w30.jpg");
}
.work-31 {
  background-image: url("../images/work/w31.jpg");
}
.work-32 {
  background-image: url("../images/work/w32.jpg");
}
.work-33 {
  background-image: url("../images/work/w33.jpg");
}
.work-34 {
  background-image: url("../images/work/w34.jpg");
}
.work-35 {
  background-image: url("../images/work/w35.jpg");
}
.work-36 {
  background-image: url("../images/work/w36.jpg");
}
a.see-more-cta {
  display: inline-block;
  width: 100%;
  background-color: rgba(62, 187, 205, 1);
  padding: 1em 0;
  vertical-align: center;
}

/*==========================================================================
   Individual Project Page Styles
==========================================================================*/
.title-h1-container {
  width: 100%;
}
.project-hero-section {
  position: relative;
  height: 550px;
  height: 90vh;
  background-color: #aeaeae;
  background-position: center;
  background-size: cover;
}

.project-hero-section h1 {
  background-color: #fff;
  margin: 20px auto;
  padding: 0px 0px;
}

.project-hero-section h2 {
  position: absolute;
  bottom: 0.5em;
  width: 50%;
}

/*scroll down*/
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down-cta {
  display: block;
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down {
  position: absolute;
  top: 3.8em;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/*project nav*/
nav.project-nav {
  float: left;
  margin-top: 38px;
  width: 20%;
}

nav.project-nav.is-fixed {
  position: fixed;
  top: 0;
  margin-top: 2.5em;
  width: 20%;
  z-index: 3;
}

nav.project-nav.is-fixed-end {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  z-index: 3;
}

nav.project-nav li {
  display: block;
  opacity: 0.5;
  transition: transform 0.2s;
  transform-origin: 0 50%;
}

nav.project-nav li:hover {
  transform: scale(1.1);
  transform-origin: 0 50%;
}

nav.project-nav li.is-active {
  opacity: 1;
}

/*project body*/
.project-body {
  position: relative;
  overflow: hidden;
  padding-top: 6em;
}

.project-body section {
  float: right;
  width: 65%;
  margin-right: 15%;
}

.project-body img {
  width: 100%;
  margin: 1em 0;
}

.project-body p a {
  color: #000;
  word-break: keep-all;
  background-color: rgba(254, 253, 56, 1);
  padding: 0.15em;
}
.project-body p a:hover {
  color: #000;
  background-color: rgba(250, 217, 45, 1);
  border-radius: 1em;
  transition: all 0.4s;
}

/*image descriptions or caption */ 
.video-container + span, img + span, .black-frame + span { 
  display: inherit;
  opacity: 0.6;
  margin-top: -1.5em;
  font-size: 0.8em;
  line-height: 1.5em;
  font-style: italic;
}
/*fill the video embed the whole width of the parent*/
.project-body .video-container {
  position: relative;
  padding-bottom: 52%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin: 2em 0;
}
.project-body .black-frame {
  position: relative;
  text-align: center;
  background-color: #f4f4f4;
  padding: 0;
  margin: 2em 0;
}
.project-body .video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project-body .video-container .crushing-ice-cream {
  width: 150%;
  height: 150%;
  transform: translate(-20%, -30%);
}

.project-body section {
  padding: 0 2em;
}

.image-grid {
  margin: 4em 0;
}
.image-grid img {
  float: left;
  width: 33.33%;
}

/*project carousel*/
.project-carousel {
  height: 40em;
}

.project-carousel div {
  height: 100%;
  background-color: black;
}

.project-carousel div img{
  height: 95%;
  margin: 0 auto;
  width: initial;
}

.project-carousel .slick-slide {
  color: #fff;
  text-align: center;
}

.project-carousel-nav {
  height: 5em;
  width: 80%;
  margin: 1em auto;
}

.project-carousel-nav .slick-slide {
  width: 5em;
  margin: 0 0;
  cursor: pointer;
  overflow: hidden;
}

.project-carousel-nav .slick-slide:focus {
  outline:0;
}

.project-carousel-nav div img {
  margin: 0 auto;
  height: 5em;
  width: initial;
}

.project-carousel-nav .slick-prev:before,
.project-carousel-nav .slick-next:before {
    color: rgba(62, 187, 205, 1);
}

/*read more*/
.read-more-container p {
  float: left;
  width: 48%;
  margin: 0 0;
}

.read-more-container div {
  float: right;
  display: inline-block;
  width: 48%;
  height: 16em;
  background-size: cover;
}

/*grid projects*/
nav.grid-projects {
  overflow: auto;
  margin-top: 3em;
}

div.grid-projects-parent {
  position: relative;
  display: inline-block;
  float: left;
  width: 33.333%;
  overflow: hidden;
  background-color: #000000;
}

div.grid-projects-parent:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}

.grid-projects-parent div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  z-index: 0;
}

.grid-projects-parent:hover div{
  transform: scale(1.2);
  opacity: 0.5;
}

.grid-projects-parent a {
  opacity: 0;
  position: absolute;
  width: 100%;
  /*not sure if setting padding this way is the best way to make sure anchor is clickable*/
  padding: 100% 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.grid-projects-parent:hover a {
  opacity: 1;
}

/*==========================================================================
   About Page Styles
==========================================================================*/

ul#about-skills {
  list-style-type: none;
  padding: 0;
  pointer-events: none;
}

#about-hero-container {
  margin-top: 8.5em;
}

.about {
  height: 65em;
}

.about ul, .about p {
  position: relative;
  z-index: 2;
}

.about p {
  width: 40%;
}

.profile-pic {
  position: absolute;
  top: 0;
  right: 13em;
  height: 50em;
  /*height: 100vh;*/
  width: 40%;
  background-image: url('../images/profile-pic-hover.jpg');
  background-size: cover;
  background-color: #aeaeae;
  z-index: 1;
}

.profile-pic:hover {
  background-image: url('../images/profile-pic.jpg');
}

div#about-external-links {
  position: absolute;
  bottom: -8em;
  left: 2em;
  display: inline-block;
  padding: 1em 2em;
  background: rgba(255,255,255,0.90);
  box-shadow: 0 2px 100px 0 rgba(0,0,0,0.22);
  z-index: 2;
}

div#about-external-links ol {
  list-style-type: none;
  padding: 0;
}

div#about-external-links ol li {
  display: inline-block;
  margin: 0 1em;
}

div#about-external-links ol li a {
  color: #000;
  word-break: keep-all;
  background-color: rgba(254, 253, 56, 1);
  padding: 0.15em;
}

div#about-external-links ol li a:hover {
  color: #000;
  background-color: rgba(250, 217, 45, 1);
  border-radius: 1em;
  transition: all 0.4s;
}


/*==========================================================================
   Contact Page Styles
==========================================================================*/

#contact-blurb {
  width: 50%;
}

.contact-form {
  margin-top: 3em;
}

.name-field, .email-field {
  display: inline-block;
  width: 49%;
}

.message-field {
  width: 100%;
}

label {
  display: block;
}

input:focus, textarea:focus {
  outline: 0;
}

input[type=text],
input[type=email],
textarea#message {
  float: left;
  background-color: #F5F5F5;
  border-style: hidden;
  padding: 0 1em;
  margin-top: 0.5em;
}

input[type=text], input[type=email] {
  width: 100%;
  height: 3em;
}

.email-field {
  float: right;
}

.message-field {
  margin-top: 2em;
}

textarea#message {
  height: 10em;
  width: 100%;
  resize: vertical;
  padding: 1em 1em;
}

/*textarea#message:focus {
  background-color: rgba(62, 187, 205, 1);
  color: #fff;
}*/

input[type=submit] {
  float: left;
  width: 100%;
  border: none;
  height: 3em;
  background-color: rgba(62, 187, 205, 1);
  color: #fff;
  float: left;
  transition: all 0.5s;
}

input[type=submit]:hover {
  background-color: #3ED5D4;
}

/* Thank you form response */

.thank-you-bg {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgba(62, 187, 205, 1); 
  text-align: center;
}

.thank-you-bg h1 {
  margin-top: 0;
}

.thank-you-msg {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  -webkit-transform: translate(-50%, -50%); 
}

.thank-you-msg p {
  margin-bottom: 3em;
}

.thank-you-msg a {
  color: #000;
  word-break: keep-all;
  background-color: rgba(254, 253, 56, 1);
  padding: 0.8em;
}
.thank-you-msg a:hover {
  color: #000;
  background-color: rgba(250, 217, 45, 1);
  border-radius: 2em;
  transition: all 0.4s;
}

/*==========================================================================
   Footer Section Styles
==========================================================================*/
footer {
  position: relative;
  margin-top: 80px;
}

footer ul {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin: 25px auto;
}

#footer-cta {
  position: absolute;
  top: 30px;
  right: 2.7em;
  z-index: 1;
}

.footer-nav {
  position: relative;
  width: 100%;
  float: left;
  padding: 0;
}

.social-links {
  position: relative;
  top: 0em;
  float: left;
  padding: 0;
}

.social-links li {
  display: inline-block;
}

/*==========================================================================
   Media Queries
==========================================================================*/

@media screen and (max-width: 960px) {
  /*global style*/
  html {
    font-size: 0.7em;
  }
  .g-container {
    padding: 0 6rem;
  }
  /*hamburger menu style*/
  :root {
    --bar-width: 80px;
    --bar-height: 12px;
    --bar-spacing: 24px;
  }
  .hamburger-menu {
    right: 6em;
  }
  header nav ul {
    padding: 20px 1em;
  }

  /*projects section style*/
  #projects-container section {
    background-position: center;
  }
  /*individual project section style*/
  .project-body section {
    width: 80%;
    margin-right: 0;
  }
  /*footer style*/
  #footer-cta {
    top: 30px;
    right: 30px;
  }

}

@media screen and (max-width: 720px) {
  /* global style */
  html {
    font-size: 0.8em;
  }

  p {
    font-size: 1.2em;
    line-height: 2em;
    font-weight: 500;
  }


  .g-container {
    padding: 0 2rem;
  }
  /* hamburger menu style */
  :root {
    --bar-width: 50px;
    --bar-height: 8px;
    --bar-spacing: 16px;
  }
  header nav ul {
    padding: 20px 0.5em;
  }

  /* signature font style*/
  .signature {
    font-size: 0.8em;
  }

  /* signature breakline */
  .break-line {
    display: none;

  }
  /* set hamburger menu container */
  .hamburger-menu {
    position: relative;
    top: 9%;
    left: 80%;
  }
  /* home hero padding */
  #hero-section {
    padding-top: 0em;
  }
  /* 2 columns for hero bio */
  #hero-bio {
    width: 100%;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }  

  /* project section style */
  /* hide the scroll down tooltip */
  .scroll-down-cta {
    display: none;
  }
  .scroll-down {
    display: none;
  }

  /* hide opaque dot forever */
  .section-nav li {
    display: none;
  }
  .section-nav li.is-active {
    opacity: 0;
  }

  #projects-container section {
    background-attachment: initial;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 340px;
    height: 50vh;
    margin-top: 23.5em;
  }

/* customize the first project to have a smaller top margin*/
  #projects-container .project-1 {
    margin-top: 1.5em;
  }
  
  a.see-more-cta {
     margin-top: 12em;
  }
  .project-blurb {
    position: relative;
    opacity: 1;
    z-index: 1;
    width: 100%;
    padding: 1.5em 2.5em;
    margin: 0 auto;
    top: -3em;
    bottom: initial;
    right: initial;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 100px 0 rgba(0,0,0,0.22);
  }

  .project-blurb a {
    font-size: 1.3em;
    font-weight: 700;
  }

  .project-blurb.is-active {
    transform: none;
  }

  .project-blurb h3 {
    font-size: 1.75em;
  }
  /* individual project page style*/
  .project-nav ul {
    display: none;
  }
  /*get rid of the extra margin for mobile*/
  .project-bg-link {
    mzargin-left: 0em;
    margin-right: 0em; 
  }
  .project-hero-section {
    background-position: bottom center;
    height: 203px;
    height: 38vh;
  }

  .project-hero-section h2 {
    position: relative;
    top: 100%;
    transform: translateY(-120%);
    width: 100%;
  }

  .project-body {
    padding-top: 0em;
  }
  .project-body section {
    width: 100%;
  }

  .image-grid img {
    width: 100%;
    margin: 1em 0;
  }

  /* image description */
  .video-container + span, img + span, .black-frame + span { 
    font-size: 1.2em;
    line-height: 2em;
  }
  div.grid-projects-parent {
    width: 50%;
  }

  /*read more*/
  .read-more-container p {
    width: 100%;
    margin: 0 0;
  }

  .read-more-container div {
    width: 100%;
    margin-top: 2em;
  }

  /*about*/
  #about-hero-container {
    margin-top: 0em;
  }

  .about {
    overflow: auto;
    height: inherit;
  }

  .about p {
    width: 100%;
  }

  ul#about-skills {
    /* Remove animation in mobile */
    color: rgba(0, 0, 0, 0.7);
    background-image: none;
    -webkit-text-fill-color: inherit;
    -webkit-animation: inherit;
  }

  .profile-pic {
    position: relative;
    left: 0;
    float: left;
    height: 30em;
    height: 50vh;
    width: 100%;
    background-position: center;
  }

  div#about-external-links {
    display: none;
    /*position: relative;
    bottom: 0;
    left: 0;
    display: inline-block;
    padding: 1em 2em;
    background: rgba(255,255,255,0.90);
    box-shadow: 0 2px 100px 0 rgba(0,0,0,0.22);
    z-index: 2;*/
  }
  /* contact style */
  #contact-blurb {
    width: 100%;
  }

  .contact-form {
    margin-top: 3em;
  }

  .name-field, .email-field, .message-field {
    display: inline-block;
    width: 100%;
    margin-top: 2em;
  }
  /* thank you message style*/
  .thank-you-msg {
    width: 90%;
  }

  .thank-you-bg h1 {
    font-size: 2em;
  }

  /* footer style */
  footer ul {
    line-height: 80px;
    margin-bottom: 0px;
    margin-top: 60px;
    clear: both;
    float: left;
  }

  #footer-cta {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }
  .social-links {
    display: block;
    position: relative;
    float: left;
    top: 0.3em;
  }
}